<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="container">
<%- include('../partials/header', {pagina: 'Sobre'}) %>
<main>
    <div class="jumbotron">
        <h1>Sobre Mim</h1>
        <p>Oi sou o Edgar Rocha, estudante de analise de sistemas!</p>
    </div>
</main>
<%- include('../partials/footer') %>
</body>
</html>